<li class="nav-item has-treeview menu-open">
  <a href="#" class="nav-link active">
    <i class="nav-icon fas fa-tachometer-alt"></i>
    <p>
      Dashboard
      <i class="right fas fa-angle-left"></i>
    </p>
  </a>
  <ul class="nav nav-treeview">
    <li class="nav-item">
      <a routerLink="/administrator-dashboard" class="nav-link active">
        <i class="far fa-circle nav-icon"></i>
        <p>Administrator</p>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/student-dashboard" class="nav-link">
        <i class="far fa-circle nav-icon"></i>
        <p>Student</p>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/default-dashboard" class="nav-link">
        <i class="far fa-circle nav-icon"></i>
        <p>Default</p>
      </a>
    </li>
  </ul>
</li>
