<!-- <li *ngIf="sidebarItemData.subitems !== null" class="nav-item"
  [ngClass]="{ 'menu-expanded': sidebarItemData.clicked }">
  <a href="#" (click)="sidebarItemClicked(sidebarItemData)" class="nav-link" [ngClass]="{ 'active': sidebarItemData.clicked }">
    <i class="nav-icon {{sidebarItemData.icon}}"></i>
    <p style="padding-left: 10px;">
      {{sidebarItemData.name}}
      <i class="right fas fa-angle-left"></i>
    </p>
  </a>
  <ul *ngFor="let item of sidebarItemData.subitems" class="nav nav-treeview">
    <app-sidebar-item [sidebarItemData]="item"></app-sidebar-item>
  </ul>
</li>
<li *ngIf="sidebarItemData.subitems === null || sidebarItemData.subitems.length === 0" class="nav-item">
  <a routerLink="{{sidebarItemData.link}}" (click)="sidebarItemClicked(sidebarItemData)" class="nav-link">
    <i class="nav-icon {{sidebarItemData.icon}}"></i>
    <p style="padding-left: 10px;">{{sidebarItemData.name}}</p>
  </a>
</li> -->

<li>
  <a href="javascript:void(0)" class="clearfix" (click)="sidebarItemData.clicked = !sidebarItemData.clicked;">
    <i class="nav-icon {{sidebarItemData.icon}}"></i>
    <p style="padding-left: 10px;">
      {{sidebarItemData.name}}
      <ng-container *ngIf="sidebarItemData.subitems !== null">
        <i *ngIf="!sidebarItemData.clicked" class="right fa fa-angle-left"></i>
        <i *ngIf="sidebarItemData.clicked" class="right fa fa-angle-down"></i>
      </ng-container>

    </p>
  </a>
  <ul *ngFor="let item of sidebarItemData.subitems" [ngClass]="{'active': sidebarItemData.clicked}">
    <app-sidebar-item [sidebarItemData]="item"></app-sidebar-item>
  </ul>
</li>
